<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

	<head>
		<!--Tags básicas do head-->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>NFS CSGO</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/carrossel.css">
		<script src="js/carrossel.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	</head>
	<body>
		
			<div id="navbardiv">
				<ul id="navbar">
					<li><a href="/">
					<img id="home" src="img/home.png">
					</a></li>
					<li><a href="/novo">
					<img id="cadastro" src="img/cadastro.png">
					</a></li>
					<li><a href="/lista">
					<img id="navak2" src="img/AKpreta.png">
					</a></li>
					</ul>
			</div>
		<!--  fim da barra de navegação -->
		<figure id="containerlogo"><img src="img/logo.png" id="logo"></figure>
		<div class="slider">
			<div class="slide-track">
				<div class="slide">
					<img src="img/carousel/akihabara.png" height="200px" width="250px" alt="" />
				</div>
				<div class="slide">
					<img src="img/carousel/asiimov.png" height="200px" width="250px" alt="" />
				</div>
				<div class="slide">
					<img src="img/carousel/blaze.png" height="200px" width="250px" alt="" />
				</div>
				<div class="slide">
					<img src="img/carousel/chanticos.png" height="200px" width="250px" alt="" />
				</div>
				<div class="slide">
					<img src="img/carousel/code-red.png" height="200px" width="250px" alt="" />
				</div>
				<div class="slide">
					<img src="img/carousel/eco.png" height="200px" width="250px" alt="" />
				</div>
				<div class="slide">
					<img src="img/carousel/fade.png" height="200px" width="250px" alt="" />
				</div>
				<div class="slide">
					<img src="img/carousel/hazard.png" height="200px" width="250px" alt="" />
				</div>
				<div class="slide">
					<img src="img/carousel/howl.png" height="200px" width="250px" alt="" />
				</div>
				<div class="slide">
					<img src="img/carousel/hyper.png" height="200px" width="250px" alt="" />
				</div>
				<div class="slide">
					<img src="img/carousel/kill-confirmed.png" height="200px" width="250px" alt="" />
				</div>
				<div class="slide">
					<img src="img/carousel/lightning.png" height="200px" width="250px" alt="" />
				</div>
				<div class="slide">
					<img src="img/carousel/trigon.png" height="200px" width="250px" alt="" />
				</div>
				<div class="slide">
					<img src="img/carousel/vulcan.png" height="200px" width="250px" alt="" />
				</div>
			</div>
		</div>
		<div id="block">
				
	</div>
	</body>
	<footer id="rodape"><h3 id="copyright">© Bruno e Mayki</h3></footer>

</html>